.accommodations-field__blurb {
  color: var(--cue-information);
  font-size: smaller;
  background: var(--cue-information-inv);
  padding: $grid/2;
  line-height: 1.2;
  border-radius: $border-radius;
}