#unm-top-nav {
    background-color: #1976D2 !important;
    border-color: #0D47A1 !important;
}

.menubar--usermenu {
    background-color: #2962FF !important;
}

.unm-navbar .navbar-brand {
    border-color: #1976D2 !important;
}
