#unm-top-nav {
    background-color: #1565C0 !important;
    border-color: #0D47A1 !important;
}

.menubar--usermenu {
    background-color: #304FFE !important;
}

.unm-navbar .navbar-brand {
    border-color: #1565C0 !important;
}
