header,
footer,
nav,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: inherit;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 13px;
}

.breadcrumb {
  border-bottom: 1px dotted #999;
  padding: 0.5em 0;
  justify-content: center;
}

#page-wrapper {
  overflow-x: hidden;
}

#digraph-body {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  .digraph-card {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: left;
    }
  }

  p,
  ul,
  ol,
  li,
  dl,
  blockquote,
  .filestore-card,
  iframe,
  .digraph-card,
  .special-membership-group,
  .membership-table-date,
  .notification,
  form {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;

    table {
      width: 100%;
      min-width: 100%;
    }
  }

  table {
    margin-left: auto;
    margin-right: auto;
    min-width: 40em;
  }

  .instagram-media {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.digraph-hero-content {
  text-align: center;
}

.digraph-hero-main-image {
  background-position-x: center;
}

@media screen and (max-width:45rem) {
  #digraph-body {

    table {
      min-width: 0;
      width: 100%;
    }
  }
}