#digraph-navbar {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 15px;
  font-family: "Gotham A","Gotham B","Helvetica Neue",Helvetica,Arial,sans-serif;
  border-top: 1px solid #a7a8aa;

  .digraph-area-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar, #digraph-navbar {
  background: #f2f2f2;
  overflow: auto;
  padding: 10px;
}

.navbar, #digraph-navbar>.digraph-area-wrapper {
  display: flex;
  line-height: $(line_height_compact);
  justify-content: center;

  .menuitem {
    line-height: 22px;
    background: transparent;
    padding: 5px 10px;
    position: relative;
    transition: color 0.25s ease-in-out;
    text-decoration: none;
    color: #ba0c2f !important;
    font-weight: bold;

    &:first-child {
      margin-left: 0;
    }

    &:after {
      content: "";
      background: #ccc;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.25s ease-in-out;
    }

    &:hover {
      background: #fff;
      color: #72071d !important;

      &:after {
        width: 100%;
      }
    }

    &.selected, &.active-page {
      &:after {
        width: 100%;
      }
    }
  }
}
