/* basic styling */
#digraph-unm {
  margin: 0;
  padding: 0;
  background-color: $(color_unm);
  font-size: 13px;
  line-height: 1.6em;
  height: 70px;

  .digraph-area-wrapper {
    max-width: 76rem;
  }

  * {
    box-sizing: border-box;
  }
}

nav.unm-navbar {
  a.navbar-brand {
    display: block;
    overflow: hidden;
    height: 66px;
    padding: 0;
    color: transparent !important;
    line-height: 0;
    background: #fff url({{config.url.base}}unm-logo-tab.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #unm_search_form,
  .menubar {
    display: none;
  }
}
/* first breakpoint */
@media (min-width:768px) {
  #digraph-unm {
    border: 1px solid #8a0923;
    height: 30px;
  }
  /* make navbar flex display */
  nav.unm-navbar {
    display: flex;
    justify-content: space-between;
    /* put logo on left */
    a.navbar-brand {
      display: block;
      overflow: hidden;
      border-bottom: 3px solid #ba0c2f;
      width: 235px;
      z-index: 100;
      margin-left: 5px;
      margin-top: -1px;
    }
    /* make wrapper for menubar and search flex display */
    .menu {
      display: flex;
      justify-content: flex-end;
    }
    /* style menubar */
    .menubar {
      display: flex;
      line-height: 30px;
      font-size: 13px;

      a {
        color: #fff!important;
        text-decoration: none!important;
        padding: 0 15px;

        &:hover {
          color: #f2f2f2!important;
        }
      }
    }
    /* style search form */
    #unm_search_form {
      display: block;
      background: #fff;
      border-radius: 10px;
      padding: 0 2px 0 10px;
      margin-right: 5px;
      line-height: 19.5px;
      height: 22px;
      margin-top: 4px;
      margin-left: 10px;

      input {
        line-height: 19.5px;
        border: 0;
        outline: 0;
        background: transparent;
        width: 125px;
      }

      button {
        background: transparent;
        border: 0;
        outline: 0;
        cursor: pointer;
      }
    }
  }
}
