/* #digraph-footer */
#digraph-footer {
  font-size: 11px;
  line-height: 10pt;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

#digraph-footer h1, #digraph-footer p {
  margin: 10pt 0;
}

#digraph-footer .unm-info, #digraph-footer .unm-links {
  padding: 20pt;
}

.social-icon-link {
  display: inline;
  font-size: inherit;
  font-size: 2rem;
  vertical-align: top;
  line-height: 1.5;
  font-weight: 400;
  margin-right: 0.25em;
}

#digraph-footer .unm-links .social-icon-link {
  font-size: 24px;
}

@media (min-width:700px) {
  #digraph-footer .unm-info, #digraph-footer .unm-links {
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    max-width: 40%;
  }
}

@media screen {
  #digraph-footer {
    background: #5e5d60;
    color: #fff;
    margin-bottom: 0;
  }

  #digraph-footer *.menubar *.menuitem, #digraph-footer a {
    color: #fff !important;
    background: transparent;
    white-space: nowrap;
  }

  #digraph-footer *.menubar *.menuitem:hover, #digraph-footer a:hover {
    color: #eee;
    background: transparent;
  }
}
