#digraph-masthead {
  margin: 0;
  padding: 0;
  color: #fff;
  background: rgb(127, 127, 127) url('{{config.url.base}}hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 400px;
  max-height: 30vh;
  min-height: 150px;

  .digraph-area-wrapper {
    max-width: 100%;
  }

  h1 {
    font-family: $(font_family_headers);
  }
}

body.page-has-hero {
  #digraph-masthead {
    min-height: auto;
    height: auto;
    max-height: none;
  }
  #masthead-screen {
    position: relative;
  }
}

#masthead-screen {
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 0.25em 0;
  line-height: 1.2em;
  color: #333;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}