#digraph-xsitenav {
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    .digraph-area-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

#digraph-xsitenav {
    background: rgb(25, 25, 25);
    overflow: auto;
}

#digraph-xsitenav>.digraph-area-wrapper {
    display: flex;
    line-height: $(line_height_compact);
    justify-content: flex-end;

    .menuitem, .label
    {
        line-height: 15pt;
        background: transparent;
        padding: 6pt 10pt;
        position: relative;
        transition: color 0.25s ease-in-out;
        text-decoration: none;
        color: #ddd !important;
        font-size: 13px;
    }

    .label {
        color: #ccc !important;
        font-weight: bold;
    }

    .menuitem {
        border-left: 1px solid #333;

        &:hover {
            background: #eee;
            color: #c10037 !important;
        }

        &.selected {
            color: #ddd !important;
            background: #666;
            cursor: default;
        }
    }
}