#header {
    background-color: var(--background-darker);
    padding: 0;
    box-shadow: var(--shadow-inset);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    position: relative;

    >#header__wrapper {
        background: var(--background-a80);
        color: var(--color);
        box-shadow: var(--shadow-inset);

        >h1 {
            margin: 0;
            padding: $grid;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

#header__hero {
    z-index: 0;
    overflow: hidden;
    max-height: 35vh;
    min-height: 8rem;

    picture {
        width: 100% !important;
        max-width: none !important;
        border: 0;

        img {
            width: 100%;
            max-width: 100%;
        }
    }
}

#header__name {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-a80);
    padding: $grid;
    border-top: 1px solid var(--background-light);
    border-bottom: 1px solid var(--background-dark);
    box-shadow: var(--shadow);
}

@media print {
    #header {
        background: transparent;
        padding: 0;
        box-shadow: none;
        min-height: 0;

        >#header__wrapper {
            background: transparent;
            color: inherit;
            box-shadow: none;
            border: 0;
            margin-top: 0;

            >h1 {
                margin: 0;
                padding: $grid;

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    #header__hero {
        display: none;
    }
}

// main navbar
#main-nav {
    @include unm-menubar(var(--background-a80));
    font-size: larger;
    font-weight: lighter;
    border-top: 1px solid var(--background-a80);
    border-bottom: 2px solid var(--background-lighter);
    align-items: flex-end;

    &.menubar--overflowed {

        .menuitem {
            width: 100%;
        }

        &.menubar--overflowed--open {
            background: var(--background-dark);

            .menubar--overflowed__toggle {
                background: var(--background-darker);

                .menuitem__link {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

body {
    background: radial-gradient(circle, var(--background-light) 0%, var(--background) 100%);
    background-attachment: fixed;
}