#header {
    background-color: var(--background-darker);
    background-image: url(/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    box-shadow: var(--shadow-inset);
    min-height: 8 * $grid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;

    > #header__wrapper {
        background: var(--background-a80);
        color: var(--color);
        box-shadow: var(--shadow-inset);
        border-top: 1px solid var(--background);
        margin-top: $grid * 4;
        > h1 {
            margin: 0;
            padding: $grid;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// hide login link for blocked unknown netids variations
body.block-unknown-netids {
    .action-menu__user-actions--guest {
        .signin-link {
            display: none;
        }
    }
}

// main navbar
#main-nav {
    @include unm-menubar(var(--background-a50));
    font-size: larger;
    font-weight: lighter;
    border-top: 1px solid var(--background-a50);

    &.menubar--overflowed {
        &.menubar--overflowed--open {
            background: var(--background-dark);

            .menubar--overflowed__toggle {
                background: var(--background-darker);

                .menuitem__link {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

// styles to accent the body content
#content {
    border-top: 2px solid var(--background-lighter);
}

body {
    background: radial-gradient(circle, var(--background-light) 0%, var(--background) 100%);
    background-attachment: fixed;
}
