.loboalert--covid {
    .loboalert__title {
        &:before {
            @include icofont;
            content: '\ec26';
            display: inline;
            margin-right: $grid/2;
        }
    }
}

.loboalert--warning {
    .loboalert__title {
        &:before {
            @include material-icon;
            content: '\e002';
            display: inline;
            margin-right: $grid/2;
        }
    }
}