.loboalert--medical {
    background-color: #007a86;
    color: #fff;
    border-bottom: 1px solid #00555d;
    border-top: 1px solid #00a2b1;

    .loboalert__title {
        &:before {
            @include icofont;
            content: '\ec26';
            display: inline-block;
            margin-right: $grid/2;
        }
    }
}

.loboalert--warning {
    .loboalert__title {
        &:before {
            @include material-icon;
            content: '\e002';
            display: inline-block;
            margin-right: $grid/2;
        }
    }
}

.loboalert--test-site {
    background-color: var(--cue-information);
    color: var(--cue-information-inv);
    border-bottom: 1px solid var(--cue-information-dark);
    border-top: 1px solid var(--cue-information-light);

    .loboalert__title {
        &:before {
            @include material-icon;
            content: '\e686';
            display: inline-block;
            margin-right: $grid/2;
        }
    }
}

.loboalert--danger {
    background-color: var(--cue-danger);
    color: var(--cue-danger-inv);
    border-bottom: 1px solid var(--cue-danger-dark);
    border-top: 1px solid var(--cue-danger-light);

    .loboalert__title {
        &:before {
            @include material-icon;
            content: '\e002';
            display: inline-block;
            margin-right: $grid/2;
        }
    }
}

.loboalert--info,
.loboalert--information,
.loboalert--notice {
    background-color: var(--cue-information);
    color: var(--cue-information-inv);
    border-bottom: 1px solid var(--cue-information-dark);
    border-top: 1px solid var(--cue-information-light);

    .loboalert__title {
        &:before {
            @include material-icon;
            content: '\e0f0';
            display: inline-block;
            margin-right: $grid/2;
            transform: translateY(0.125em);
        }
    }
}

.loboalert--safe,
.loboalert--confirmation {
    background-color: var(--cue-safe);
    color: var(--cue-safe-inv);
    border-bottom: 1px solid var(--cue-safe-dark);
    border-top: 1px solid var(--cue-safe-light);

    .loboalert__title {
        &:before {
            @include material-icon;
            content: '\e8dc';
            display: inline-block;
            margin-right: $grid/2;
            transform: translateY(0.125em);
        }
    }
}