menu.signin-sources {
  li.signin-source--cas_netid {
    order: 0;

    >a {
      background-color: #a7a8aa;
      color: #000;
    }
  }

  li.signin-source--oauth2_google,
  li.signin-source--oauth2_apple {
    order: 10;
  }

  li.signin-source--oauth2_github,
  li.signin-source--oauth2_facebook {
    order: 1000;
  }
}