/* basic styling */
#unm-top-nav {
    margin: 0;
    padding: 7px $grid/2;
    background-color: #333437;
    font-size: 13px;
    line-height: 16px;
    color: #fff;

    a {
        color: inherit !important;
        text-decoration: none !important;
        white-space: nowrap;

        &:hover,
        &:focus {
            text-decoration: underline !important;
        }
    }

    .unm-navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: $grid*2;

        .navbar-brand {
            font-weight: bold;
        }

        .unm-menubar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: $grid;

            >a {
                display: block;
            }
        }
    }

    * {
        box-sizing: border-box;
    }
}

@media print {
    #unm-top-nav {
        display: none !important;
    }
}