/* basic styling */
#unm-top-nav {
    margin: 0;
    padding: 0;
    background-color: #ba0c2f;
    font-size: 13px;
    line-height: 1.6em;
    height: 70px;

    .unm-top-nav__wrapper {
        margin: 0;
    }

    * {
        box-sizing: border-box;
    }
}

nav.unm-navbar {
    margin: 0;
    a.navbar-brand {
        display: block;
        overflow: hidden;
        height: 66px;
        padding: 0;
        color: transparent !important;
        line-height: 0;
        background: #fff url(/unm-logo-tab.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #unm_search_form,
    .unm-menubar {
        display: none;
    }
}

.action-menu--user-menu {
    line-height: 14px;
    font-size: 13px;
    background: #5e5d60;
    color: #fff;

    .action-menu__user-actions {
        justify-content: center;
        align-content: center;
        ul {
            flex-wrap: nowrap;
        }
    }

    .action-menu__user-actions--guest {
        h2 {
            display: none;
        }
    }

    a[href]:hover {
        background: rgba(255, 255, 255, 0.8);
        color: #000;
    }
}

/* first breakpoint, wide mode */
@media (min-width: 768px) {
    #unm-top-nav {
        border: 1px solid #8a0923;
        height: 30px;
        .unm-top-nav__wrapper {
            margin: 0 $grid/2;
        }
    }
    /* make navbar flex display */
    nav.unm-navbar {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        /* put logo on left */
        a.navbar-brand {
            display: block;
            overflow: hidden;
            border-bottom: 3px solid #ba0c2f;
            width: 235px;
            z-index: 100;
            margin-left: 0;
            margin-top: -1px;
        }
        /* make wrapper for menubar and search flex display */
        .menu {
            display: flex;
            justify-content: flex-end;
        }
        /* style menubar */
        .unm-menubar {
            display: flex;
            line-height: 30px;
            font-size: 13px;

            a {
                color: #fff !important;
                text-decoration: none !important;
                padding: 0 15px;

                &:hover {
                    color: #f2f2f2 !important;
                }
            }
        }
        /* style search form */
        #unm_search_form {
            display: block;
            background: #fff;
            border-radius: 10px;
            padding: 0 2px 0 10px;
            margin-right: 0;
            line-height: 19.5px;
            height: 22px;
            margin-top: 4px;
            margin-left: 10px;

            input {
                line-height: 19.5px;
                border: 0;
                outline: 0;
                background: transparent;
                width: 125px;
                padding: 2px 0;
            }

            button {
                background: transparent;
                border: 0;
                outline: 0;
                cursor: pointer;
            }
        }
    }
    /* add padding to user menu, make it the right height to line up with logo */
    .action-menu--user-menu {
        padding-left: calc(235px + var(--grid)) !important;
        flex-direction: row-reverse;
        flex-wrap: wrap;

        .action-menu__user-actions {
            justify-content: flex-end;
            align-content: flex-end;
        }
    }
}
