#digraph-body-2col {
  margin-bottom: $(spacing_base);

  .digraph-area-wrapper {
    padding: 0 $(spacing_base);
  }
}

#body-2col-extra {
  background: $(color_shade);
  padding: $(spacing_base);
  font-size: 0.8em;
  border-radius: $(border_radius_accent);

  form.search-form {
    font-size: 0.5em;
  }
}

#digraph-body {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
  }

  p,
  ul,
  ol,
  li,
  blockquote,
  .filestore-card,
  iframe {
    margin-left: 0;
    margin-right: 0;
    max-width: 30em;
  }

  .instagram-media {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
