body {
  font-family: "Arial", sans-serif;
  line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

table.pdf-header {
  background-color: #ba0c2f;
  color: #fff;
}

table.pdf-footer {
  background-color: #ba0c2f;
  color: #fff;
}
