{% if cms.helper('loboalerts').active() %}
  <div class="loboalert">
    <div class="loboalert-wrapper">
      <h1>LoboAlert:
        {{cms.helper('loboalerts').current()['title']}}</h1>
      <date>{{cms.helper('loboalerts').current()['date']}}</date>
      {{cms.helper('loboalerts').current()['details']}}
      {% if cms.helper('loboalerts').current()['link'] %}
        <br>
        <a href="{{cms.helper('loboalerts').current()['link']|raw}}">more information</a>
      {% endif %}
    </div>
  </div>
{% endif %}
