<!-- example templates/areas/xsitenav.twig -->
<!--
<a class="menuitem" href="https://facgov.unm.edu">Faculty Governance</a>
<a class="active-page menuitem selected" href="https://handbook.unm.edu">Faculty Handbook</a>
-->
