#header__hero {
  min-height: 10rem !important;
  position: relative;

  img {
    object-fit: cover;
    object-position: 50% 50%;
  }
}

#header__name {
  padding: 0 !important;

  img {
    display: inline-block;
    margin: 0;
    line-height: 0;
    max-height: 120px;
  }
}