.loboalert {
  @include uncolored-links;
  font-size: 1rem;
  line-height: 1.2;
  background-color: var(--cue-warning);
  color: var(--cue-warning-inv);
  padding: $grid/2 $grid;
  border-bottom: 1px solid var(--cue-warning-dark);
  border-top: 1px solid var(--cue-warning-light);
}

.loboalert__title {
  font-family: $font-header;
  font-weight: bold;
  display: inline-block;
  margin-right: $grid/2;
  vertical-align: middle;
}

.loboalert__content {
  max-width: $line-length;
  padding: $grid 0;
  display: none;
}

.loboalert__expand,
.loboalert__collapse {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
}

.loboalert__collapse {
  display: none;
}

.loboalert:target,
.loboalert--expanded {
  padding: $grid;

  .loboalert__title {
    font-size: 1.5em;
  }

  .loboalert__expand {
    display: none;
  }

  .loboalert__content {
    display: block;
  }

  .loboalert__collapse {
    display: inline-block;
  }
}