.loboalert {
  @include uncolored-links;
  font-size: 1rem;
  line-height: 1.2;
  background-color: var(--cue-warning);
  color: var(--cue-warning-inv);
  padding: $grid/2 $grid;
  border-bottom: 1px solid var(--cue-warning-dark);
  border-top: 1px solid var(--cue-warning-light);
}

.loboalert__title {
  font-family: $font-header;
  font-weight: bold;
  display: inline-block;
  margin-right: $grid/2;
  vertical-align: middle;
  cursor: pointer;
}

.loboalert {
  .loboalert__title {
    &:after {
      content: '-- read more --';
      margin-left: $grid/2;
      font-family: $font-ui;
      font-size: 0.8rem;
      text-decoration: underline;
      font-weight: normal;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
    }
  }

  &[open] {
    .loboalert__title {
      &:after {
        content: '-- collapse --';
      }
    }
  }
}

.loboalert__content {
  max-width: $line-length;
  padding: $grid 0;
  padding-bottom: $grid/2;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1em;
    margin: $grid 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}